.foother {
  padding: 150px 0;
  display: flex;
  gap: 300px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper-social {
  display: flex;
  gap: 10px;
}
.right-side {
  display: flex;
  gap: 90px;
}
.list-1 ul li,
.list-2 ul li {
  margin-bottom: 15px;
}
.foother-icon {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
