.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #191919;
}
.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.nav-bar ul {
  display: flex;
  gap: 40px;
}
.nav-bar ul li {
  font-size: 17px;
}
.active {
  color: #118da8;
}
